.tratada {
    fill: yellow !important; /* Cambia el color del área tratada a amarillo */
    opacity: 0.6; /* Ajusta la opacidad del área tratada */
    transition: fill 0.3s ease; /* Agrega una transición suave al cambio de color */
}